@model IndexViewModel
@{ ViewData["Title"] = "Главная"; }

<body>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="name" id="search" placeholder="Ведите поисковой запрос" value="@ViewBag.Name" aria-describedby="basic-addon2">
    </div>
    <div id="results">
        <partial name="Search" />
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#search').keyup(function (e) {
                e.preventDefault();
                var name = $('#search').val();
                name=encodeURIComponent(name);
                $('#results').load('@Url.Action("Search", "Home")?name='+name)
            });
        });
    </script>
</body>
