<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>На веб-сайте произошла ошибка</h1>
        <b>Пожалуйста, свяжитесь с нами по адресу: asp.net.core.blog@gmail.com</b>
        <b>@ViewBag.Path = exeptionDetails.Path;   </b>
        <b>@ViewBag.Message = exeptionDetails.Error.Message</b>
        <b>@ViewBag.StackTrace = exeptionDetails.Error.StackTrace</b>
    </div>
</div>