<div>
    <label>Всего голосов: </label>
    <label class="mr-sm-2" id="reviewCount">@ViewBag.ReviewCount</label>
    <label>Рейтинг поста: </label>
    <label class="mr-sm-2" id="averageScore">@ViewBag.AverageScore</label>
</div>
<div class="rating">
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text"></label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text"></label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text"></label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text"></label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text"></label>
</div>

<link rel="stylesheet" href="~/css/rating.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $("input", "div.rating").click(function () {
        var score = $(this).val();
         $.ajax({
             type: 'post',
             url: '@Url.Action("AddReview", "Blog")',
             data: {
                 id: $("#postId").val(),
                 score: score
             },
             dataType: 'json',
             success: function (data) {
                 $("#reviewCount").text(data['reviewCount']);
                 $("#averageScore").text(data['averageScore']);
                 //alert("Ваша оценка: " + score);
                 $(document).ready(function () {
                     $('.toast').toast('show');
                 });
             },
         });
    });
</script>


    <div class="toast" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="mr-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Ваша оценка:
        </div>
    </div>
